[submodule "Frameworks/Kiwi"]
	path = Frameworks/Kiwi
	url = https://github.com/allending/Kiwi.git
[submodule "Frameworks/RestKit"]
	path = Frameworks/RestKit
	url = git://github.com/RestKit/RestKit.git
